.sub-tabs label {
    height: 25px;
    bottom: -1px;
    background-color: #ffffff;
    min-width: 220px;
    padding-top: 2px;
    margin-top: 2px;
    border: none;
}

.sub-tabs input[type="radio"]:checked + label {
    font-weight: bold;
    background-color: #ffffff;
    box-shadow: inset 0 -3px 0 #a258c4;
    color: #a258c4;
    border-bottom: none;
}

.sub-tabs label:hover {
    background-color: #ffffff;
    color: #a258c4;
}

.active-sub-tab {
    display: block;
}