.team-analytics {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.team-stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    font-size: 12px;
}

.stat-title {
    margin-top: -8px;
    margin-bottom: 10px;
}