.ability-row {
    display: flex;
    width: 80%;
    margin: auto;
    border-right: #adadad 1px solid;
    background-color: #e4e4e4;
}

.ability-row:last-child {
    border-bottom: #adadad 1px solid;
}

.ability-row:nth-child(odd) {
    background-color: #f2f2f2;
}