@import "../../Themes.css";

.ability-row {
    display: flex;
    width: 80%;
    margin: auto;
    border-right: var(--border) 1px solid;
    background-color: var(--background);
}

.ability-row:last-child {
    border-bottom: var(--border) 1px solid;
}

.ability-row:nth-child(odd) {
    background-color: var(--tab-background);
}