.ranked-info {
    height: 120px;
}

.ranked-info:last-child {
    height: 100px;
}

.ranked-info:last-child .rank-icon {
    height: 100px;
    width: 100px;
}

.rank-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.ranked-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ranked-text p {
    margin: 2px;
}

.rank-icon {
    width: 120px;
}