@import "../../Themes.css";

.queue-tab {
    background-color: var(--tab-background);
    color: var(--subtext);
    position: relative;
    border: none;
    margin: 0 0 -1px 0;
    padding: 5px;
    border-right: var(--border) 1px solid;
}

.queue-tab-open {
    color: var(--text);
    font-weight: bold;
    background-color: var(--background);
    border-bottom: var(--background) 1px solid;
}