.winrate-table-header {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: #adadad 2px solid;
    color: #6f6f6f;
}

.winrate-table-header:hover {
    cursor: pointer;
}

thead .ascending, thead .descending {
    text-decoration: underline;
}