@import "../../Themes.css";

.winrate-table-container {
    max-height: 290px;
    display: block;
    overflow: auto;
    background-color: var(--background);
    border-top: var(--border) 1px solid;
}

.winrate-table {
    width: 95%;
    margin: 10px auto auto;
    border-collapse: collapse;
}