.site-name {
    color: #eaeaea;
    font-size: 50px;
    padding: 20px 40px;
    background-color: rgba(162, 88, 196, 0.95);
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.main-search {
    font-size: 16px;
    padding: 10px;
    background-color: #a258c4;
    border-radius: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.main-search-bar {
    font-size: 14px;
    width: 500px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 40px 15px 15px;
}

.main-search-bar-button {
    height: 46px;
    width: 46px;
    border: none;
    background: none;
    position: relative;
    right: 45px;
    top: 0;
}

.main-search-bar-region-selected {
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    right: 20px;
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
    color: #eaeaea;
    height: 46px;
    border: none;
    outline: none;
    background-color: #a258c4;
}

.main-search-bar-region-selected:hover {
    background-color: #7f38a0;
    cursor: pointer;
}

.main-search-bar-region {
    font-weight: bold;
}