.navbar {
    display: flex;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: underline;
    color: #eaeaea;
    font-size: 20px;
}

.navbar-search {
    font-size: 16px;
}

.navbar-search-bar {
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px 40px 8px 15px;
}

.navbar-search-bar-button {
    height: 32px;
    width: 40px;
    border: none;
    background: none;
    position: absolute;
    right: 83px;
    top: 9px;
}

.navbar-search-bar-region-selected {
    border-radius: 10px;
    font-weight: bold;
    padding-left: 5px;
    margin-right: 10px;
    margin-left: 10px;
    color: #eaeaea;
    text-align: center;
    height: 32px;
    border: none;
    outline: none;
    background-color: #a258c4;
}

.navbar-search-bar-region-selected:hover {
    background-color: #7f38a0;
    cursor: pointer;
}

.navbar-search-bar-region {
    font-weight: bold;
}