.footer-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer {
  width: 80%;
  margin: auto auto 20px;
}

.footer p {
  margin: 0 0 7px;
}

.footer-copyright-title {
  font-size: 12px;
}

.footer-copyright {
  font-size: 11px;
}
