.ranked-info {
    display: flex;
    width: 300px;
    height: 120px;
    background-color: #f2f2f2;
    border: 1px solid #adadad;
    font-size: 12px;
    margin-right: 10px;
    box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.rank-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranked-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ranked-text p {
    margin: 2px;
}

.rank-icon {
    width: 120px;
}