body {
    background-color: #eaeaea;
}

.page {
    position: relative;
    min-height: 100vh;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #a258c4;
    z-index: 99;
    border-bottom: #9523c9 2px solid;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19)*/
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
    padding-bottom: 160px;
}

.site-logo {
    width: 60%;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 15px;
}

.content-menu {
    width: 100%;
    border-top: #adadad 1px solid;
}

.content-menu-tab-container {
    display: flex;
    margin-left: 20%;
}

.content-menu-tab {
    font-size: 14px;
    position: relative;
    padding: 10px 15px;
    bottom: 38px;
    background-color: #cecece;
    border: #adadad 1px solid;
}

.content-menu-tab-active {
    background-color: #eaeaea;
    border-bottom: #eaeaea 1px solid;
}

.content {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.match-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.match-list {
    width: 800px;
    padding: 0;
    margin: 0;
}

button:hover {
    cursor: pointer;
}

.show-more-button {
    margin: 10px auto;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5%;
    background-color: #a258c4;
    color: #f2f2f2;
}

