@import "../Themes.css";

.page {
    background-color: var(--background);
    color: var(--text);
    position: relative;
    min-height: 100vh;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #a258c4;
    z-index: 5;
    border-bottom: #9523c9 2px solid;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.body {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
    padding-bottom: 180px;
}

.body-home {
    background-color: #8731ad;
    height: 90vh;
    justify-content: center;
    align-content: center;
    /*box-shadow: inset 0 10px 8px 0 rgba(0, 0, 0, 0.2);*/
}

.body-error {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.site-logo {
    width: 60%;
}

.main-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 15px;
}

.content-menu {
    width: 100%;
    border-top: #adadad 1px solid;
}

.content-menu-tab-container {
    display: flex;
    margin-left: 20%;
}

.content-menu-tab {
    color: var(--text);
    font-size: 14px;
    position: relative;
    padding: 10px 15px;
    bottom: 38px;
    background-color: #cecece;
    border: #adadad 1px solid;
}

.content-menu-tab-active {
    background-color: var(--background);
    border-bottom: var(--background) 1px solid;
}

.content {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.match-section {
    display: flex;
    flex-direction: column;
}

.no-matches-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: #adadad 1px solid;
    width: 790px;
    font-size: 14px;
}

.match-section .no-matches-msg .alert-icon {
    padding-top: 10px;
    height: 50px;
}

.alert-icon {
    height: 100px;
    width: 80px;
}

.match-list {
    width: 790px;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

.show-more-button {
    margin: 10px auto;
    border: none;
    width: 160px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5%;
    background-color: #a258c4;
    color: #f2f2f2;
}

.side-content {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1129px) {
    .side-content {
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .content {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .body-home {
        height: 90vh;
    }

    .side-content {
        flex-direction: column;
    }

    select{
        background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }

    .content, .match-section, .match-list {
        width: 100%;
    }

}
