.summoner-info {
    display: flex;
    padding-top: 30px;
    padding-bottom: 80px;
    width: 75%;
    color: #eaeaea;
}

.profile-icon {
    border-radius: 10px 0 0 10px;
    margin-left: 10%;
    width: 100px;
    height: 100px;
}

.summoner-text {
    border-radius: 0 10px 10px 0;
    background-color: rgba(111, 111, 111, 0.5);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.summoner-text h2 {
    margin-bottom: 5px;
}

.summoner-text p {
    margin: 0;
}

@media screen and (max-width: 800px){
    .summoner-info {
        width: 100%;
        flex-wrap: wrap;
    }
}