.full-data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.table-blue {
    background-color: #aacbfc;
}

.table-red {
    background-color: #ffb3ad;
}

.data-row, .data-header {
    text-align: center;
    margin: 0;
}

thead .data-header {
    border-top: none;
}

.data-header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0;
}

.header-cell {
    border-top: #adadad solid 1px;
    border-bottom: #adadad solid 1px;
    font-weight: normal;
    padding: 0;
}

.chosen-options-name {
    display: flex;
}

.chosen-sum-options {
    display: flex;
}