@import "../../Themes.css";

.full-data-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.table-blue {
    background-color: var(--team-blue);
}

.table-red {
    background-color: var(--team-red);
}

.data-row {
    padding: 2px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-row, .data-header {
    text-align: center;
    margin: 0;
}

.data-row .sum-name {
    width: 120px;
}

.data-row .data-row-section {
    display: inline-block;
}

.data-header {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0;
}

.header-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: var(--border) solid 1px;
    border-bottom: var(--border) solid 1px;
    font-weight: normal;
    text-align: center;
    padding: 0;
}

.full-data-table .header-cell {
    border: none;
}

.full-data-table-header {
    border-top: var(--border) solid 1px;
    border-bottom: var(--border) solid 1px;
}

.full-data-table .data-header {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    border: none;
}

.full-data-table .data-header .data-header {
    display: inline-block;
}


.full-data-table .data-header .header-cell:first-child {
    width: 250px;
}

.chosen-options-name {
    display: flex;
}

.chosen-sum-options {
    display: flex;
}

.table-detail-name {
    width: 250px;
}

.table-detail-kda {
    width: 80px;
}

.table-detail-vision {
    width: 80px;
}

.table-detail-cs {
    width: 80px;
}

.table-detail-dmg {
    width: 80px;
}

.table-detail-item {
    width: 180px;
}