.player-sprite {
    width: 70px;
    flex: 0;
}

.champ-sprite {
    width: 20px;
    flex: 0;
}

.sum-spell, .sum-rune{
    width: 35px;
}

.item {
    background-color: #e4e4e4;
    margin: 1px;
    display: inline-block;
    width: 28px;
    height: 28px;
}

.item-sprite {
    width: 100%;
    height: 100%;
}

.team {
    font-size: 14px;
    list-style: none;
    padding: 5px;
}

.team-blue {
    background-color: #7db2ff;
}

.team-red {
    background-color: #ff938b;
}

.team-member {

}

.match {
    list-style: none;
    margin: 4px;
    border: 1px solid dimgrey;
}

.main-match-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-match-teams {
    display: flex;
}

.full-data-table {
    width: 100%;
}

.data-row, .data-header {
    text-align: center;
}

.dropdown-match-info {
    display: block;
    height: 100px;
}

.summoner {
    display: flex;
}

.sum-name {
    width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}