.player-sprite {
    width: 70px;
}

.champ-sprite {
    width: 40px;
}

.sum-spell, .sum-rune{
    width: 35px;
}

.team-blue {
    background-color: #7db2ff;
}

.team-red {
    background-color: #ff938b;
}