body {
    background-color: #eaeaea;
}

.profile-icon {
    width: 150px;
}

.summoner-info {
    display: flex;
}

.summoner-text {
    padding-left: 10px;
}

.ranked-info {
    display: flex;
    background-color: #f2f2f2;
    border: 1px solid #adadad;
}

.rank-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rank-icon {
    width: 100%;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #4d87ec;
}

.navbar {
    display: flex;
    margin: 0 auto;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-body {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding-top: 10px;
}

.content {
    margin-top: 50px;
}

.match-list {
    padding: 0;
}

button:hover {
    cursor: pointer;
}

