.player-sprite {
    width: 60px;
    height: 60px;
    flex: 0;
    padding-right: 5px;
    border-radius: 50%;
}

.champ-sprite {
    height: 20px;
    width: 20px;
    flex: 0;
}

.team-sprite {
    width: 34px;
    height: 34px;
    flex: 0;
    padding-right: 3px;
    margin-left: 8px;
    border-radius: 50%;
}

@media screen and (max-width: 500px){
    .player-sprite {
        width: 14vw;
        height: 14vw;
    }
}