.tabs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}

.tabs .tab {
    font-size: 14px;
    text-align: center;
    position: relative;
    height: 30px;
    bottom: -1px;
    background-color: #f2f2f2;
    min-width: 220px;
    padding-top: 5px;
    margin-top: 8px;
    border: #adadad solid 1px;
    z-index: 2;
}

.tab-content {
    width: 100%;
    order: 1;
    display: none;
}

.active-tab {
    display: block;
}

.tabs .tab:hover {
    background-color: #f8f8f8;
    cursor: pointer;
}

.tabs .tab-open {
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff;
    border-bottom: #ffffff solid 1px;
}

.full-match-detail {
    display: none;
}

.match-detail-opened {
    display: block;
}