.bold {
    font-weight: bold;
}

.players-items {
    width: 90px;
}

.match {
    list-style: none;
    margin-bottom: 4px;
    background-color: #eaeaea;
    border: 1px solid #adadad;
    /*box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.2);*/
}

.main-match-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #adadad;
    font-size: 14px;
}

.main-match-data p {
    margin: 5px;
}

.match-duration {
    font-size: 12px;
}

.main-match-teams {
    display: flex;
}

.main-match-right {
    display: flex;
}

.match-details {
    text-align: center;
    padding-left: 10px;
    min-width: 125px;
}

.match-result {
    padding-left: 5px;
    font-weight: bold;
}

.match-win {
    color: #3cbc8d;
}

.match-lost {
    color: #e05d4d;
}

.macro-info {
    text-align: center;
}

.macro-info .kp-text {
    font-size: 12px;
}

.macro-info p {
    font-size: 13px;
}

.data-header {
    background-color: #ffffff;
    height: 30px;
    border-top: #adadad solid 1px;
    border-bottom: #adadad solid 1px;
}

.dropdown-match-button {
    display: block;
    height: 118px;
    width: 30px;
    border-width: 0;
    background-color: #f2f2f2;
}

.kda-info {
    text-align: center;
}

.kda-info > p {
    margin: 5px;
}

.kda-subtext {
    font-weight: bold;
    font-size: 12px;
}

.match-remake, .match-remake .team {
    background-color: #adadad;
}

.match-remake .match-result {
    color: dimgrey;
}