.perks-spells {
    display: flex;
}

.spells-column, .runes-column {
    display: flex;
    flex-direction: column;
}

.team-spell, .team-rune {
    width: 17px;
}

.sum-spell, .sum-rune {
    width: 30px;
}

.no-spell {
    opacity: 0;
}