.skill-order-container {
    display: flex;
    flex-direction: column;
}

.skill-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-icons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}