.rune-tooltip p {
    margin: 5px 0;
}

.rune-tooltip-desc {
    font-size: 12px;
    font-weight: normal;
}

.rune-tooltip-name {
    font-size: 13px;
    font-weight: bold;
    color: deepskyblue;
}