@import "../Themes.css";

.team {
    font-size: 12px;
    list-style: none;
    padding: 3px;
    margin: auto;
}

.team-member {
    margin: 2px;
}

.team-blue {
    background-color: var(--match-blue);
}

.team-red {
    background-color: var(--match-red);
}